<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Bienvenido a la página de inicio!</p>
    <a href="/login">Iniciar sesion</a>
    <a href="{{image.url}}">
      <img src="{{image.src}}" />
    </a>

  </body>
</html>