<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Iniciar sesion</h1>
    <form action="/login" method="post">
      <label for="username">User:</label>
      <input type="text" id="username" , name="username" />
      <label for="password">Password:</label>
      <input type="text" id="password" , name="password" />
      <button type="submit">Log in</button>
    </form>
    <a href="/ome">Volver a la pagina princpal</a>
    <a href="{{image.url}}">
      <img src="{{image.src}}" alt="Imagen Aleatoria" />
    </a>

  </body>
</html>